<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
 	 <tx:annotation-driven transaction-manager="hibernateTransactionManager" />
     <bean id="book" class="com.task.spring.entity.Book" scope="prototype"></bean>
    <bean id="dao" class="com.task.spring.book.HibernateDao">
    	  <constructor-arg ref="hibernateTransactionManager"></constructor-arg>
    </bean>
    <bean id="service" class="com.task.spring.book.HibernateService" scope="singleton"><constructor-arg ref="dao" /></bean>
   <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:DBUSER"/>
		<property name="user" value="DBUSER"/>
		<property name="password" value="1234"/>
    </bean>
     <bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean> 
     
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!--  <property name="configLocation" value="classpath:hibernate.cfg.xml" /> -->
		<property name="packagesToScan" value="com.task.spring.entity"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect"> org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
	</bean>
</beans>





